:root{
  --ifm-color-primary-lightest: #DD5858;
  --ifm-color-primary-lighter: #D73A3A;
  --ifm-color-primary-light: #D53131;
  --ifm-color-primary: #c62828;
  --ifm-color-primary-dark: #B22424;
  --ifm-color-primary-darker: #A82222;
  --ifm-color-primary-darkest: #8B1C1C;
}

a {
  color: #c62828;
}
a:hover { 
  color: #1565c0;
  text-decoration: none;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

/* Resize calendar: https://github.com/hypeserver/react-date-range/issues/424 */
.rdrDateRangeWrapper.rdrCalendarWrapper {
  display: flex;
  flex: 1;
  border: none;
  width: 100%;
}
.rdrMonth {
  width: 100% !important;
}
.rdrMonthName {
  text-align: center !important;
  color: #1c1e21 !important;
}

.navbar__brand {
  display: flex;
  align-items: center;
}

.navbar__logo {
  height: 50px; /* Adjust as needed */
}

.footer {
  background-color: #f2f2f2;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Footer Title Styling */
.footer__title {
  font-size: 18px;
  font-weight: bold;
  color: #110101; /* Darker red for contrast */
  /* nborder-bottom: 2px solid #c62828;  Adds a subtle underline */
  padding-bottom: 5px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

/* Footer Links */
.footer__links ul {
  list-style: none;
  padding: 0;
}

.footer__links ul li {
  padding: 8px 0;
  border-bottom: 0.5px solid #c62828; /* Thinner border for minimal spacing */
  width: 20%; /* Reduce width for a refined look */
}

/* Remove border from the last item 
.footer__links ul li:last-child {
  border-bottom: none;
} */

/* Footer Link Styling */
.footer__link-item {
  color: #d65a1a;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 4px 0;
}

.footer__link-item:hover {
  text-decoration: underline;
  color: #8B1C1C;
}

/* Footer Paragraph Styling */
.footer p {
  color: #1a1a1a;
  font-size: 14px;
  margin: 5px 0;
}

/* Make navbar logo fit nicely */
.navbar__logo {
  max-height: 2.5rem;     
}